# Modifying the Data within the DataFrame

In [2]:
import pandas as pd

# Creating a sample DataFrame for Usage

In [3]:
people = {
    "first" : ["Abhishek", "Virat", "Manit"],
    "last" : ["Dhawan", "Kohli", "Sharma"],
    "email" : ["abhidhawan09@gmail.com", "virat.kohli@gmail.com", "manitsharma1990@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [5]:
print(df.columns)

Index(['first', 'last', 'email'], dtype='object')

# Changing column names

- By assigning a new list of columns to df.columns.

- Using df.rename() and passing a dictionary of specific columns

- Either pass mapper=dict, with axis=1 or columns=dict

- We can also change index either with axis=0 or index=dict/function

In [6]:
# Changing column names
df.columns = ["first_name", "last_name", "email"]
print(df)

  first_name last_name                      email
0   Abhishek    Dhawan     abhidhawan09@gmail.com
1      Virat     Kohli      virat.kohli@gmail.com
2      Manit    Sharma  manitsharma1990@gmail.com

In [7]:
df.columns = [i.capitalize() for i in df.columns]
print(df)

  First_name Last_name                      Email
0   Abhishek    Dhawan     abhidhawan09@gmail.com
1      Virat     Kohli      virat.kohli@gmail.com
2      Manit    Sharma  manitsharma1990@gmail.com

In [8]:
# Changing specific columns
df.rename(columns={"First_name" : "first", "Last_name" : "last"}, inplace=True)
print(df)

      first    last                      Email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [9]:
# changing columns using function
df.rename(columns=str.lower, inplace=True)
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

# Changing the rows in a DataFrame

In [10]:
# Changing a row
df.loc[1] = ["John", "Smith", "JohnSmith@gmail.com"]

In [11]:
# Changing a specific column of a row
df.loc[1, "email"] = "SmithJohn@gmail.com"

In [12]:
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1      John   Smith        SmithJohn@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [13]:
# We can also use `.at` for accessing/changing a single value
df.at[1, "email"] = "JohnSmith@gmail.com"
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1      John   Smith        JohnSmith@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [14]:
# We can also use filter to access/change using `at`, `loc`
df.loc[df["first"]=="John", "email"] = "JohnSmith@email.com"
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1      John   Smith        JohnSmith@email.com
2     Manit  Sharma  manitsharma1990@gmail.com

# Use .apply() to call a function on values of Series

- Returns a Series.


-  We can pass additional arguments using args parameter like this:



- Series.apply(func, args=("hello", 2))



- We can pass additional keyword arguments like this:




- Series.apply(func, name="hello")

In [15]:
df["email"].apply(len)

0    22
1    19
2    25
Name: email, dtype: int64

In [16]:
# Changing first name to uppercase using `apply`
df["first"] = df["first"].apply(lambda name: name.upper())
print(df)

      first    last                      email
0  ABHISHEK  Dhawan     abhidhawan09@gmail.com
1      JOHN   Smith        JohnSmith@email.com
2     MANIT  Sharma  manitsharma1990@gmail.com

In [17]:
df["first"] = [i.capitalize() for i in df["first"]]
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1      John   Smith        JohnSmith@email.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [18]:
# Getting len of each element
df.applymap(len)

   first  last  email
0      8     6     22
1      4     5     19
2      5     6     25