In [1]:
import pandas as pd

# Creating a sample DataFrame

In [2]:
people = {
    "first" : ["Abhishek", "Virat", "Manit"],
    "last" : ["Dhawan", "Kohli", "Sharma"],
    "email" : ["abhidhawan09@gmail.com", "virat.kohli@gmail.com", "manitsharma1990@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

# Use .sort_values() to sort the data

- In by parameter, we provide the column name by which the data is to be sorted.

- To sort the data in descending order, we can set ascending parameter to False.

In [4]:
a = df.sort_values(by="last")
print(a)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [5]:
b = df.sort_values(by="first", ascending=False)
print(b)

      first    last                      email
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com
0  Abhishek  Dhawan     abhidhawan09@gmail.com

In [6]:
df.loc[3] = ["Abhishek", "Dhawan", "abhidhawan09@gmail.com"]
df.loc[4] = {"last" : "Dhawan", "first" : "Abhishek", "email" : "abhidhawan09@email.com"}

In [7]:
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com
3  Abhishek  Dhawan     abhidhawan09@gmail.com
4  Abhishek  Dhawan     abhidhawan09@email.com

## If we want to sort data on multiple columns : 


- If we have identical data on a column, then we will sort on multiple columns.

- We pass a list of columns in the by parameter of .sort_values() method.

- The sort will be done based on the order of the column names in the list.

In [8]:
df.sort_values(by=["last", "first"], inplace=True)

In [10]:
# reseting the index
df.reset_index(drop=True, inplace=True)
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1  Abhishek  Dhawan     abhidhawan09@gmail.com
2  Abhishek  Dhawan     abhidhawan09@email.com
3     Virat   Kohli      virat.kohli@gmail.com
4     Manit  Sharma  manitsharma1990@gmail.com

# If we want to sort multiple columns and some columns in ascending and some in descending order.



- We will pass the list to the ascending parameter of booleans.




- False means sort in descending order, True to sort in ascending order.

In [11]:
df.sort_values(by=["last", "first"], ascending=[False, True])

      first    last                      email
4     Manit  Sharma  manitsharma1990@gmail.com
3     Virat   Kohli      virat.kohli@gmail.com
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1  Abhishek  Dhawan     abhidhawan09@gmail.com
2  Abhishek  Dhawan     abhidhawan09@email.com

# To sort the data based on index, use .sort_index() method

In [12]:
df.sort_index()

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1  Abhishek  Dhawan     abhidhawan09@gmail.com
2  Abhishek  Dhawan     abhidhawan09@email.com
3     Virat   Kohli      virat.kohli@gmail.com
4     Manit  Sharma  manitsharma1990@gmail.com