# Add/Remove Rows and Columns From DataFrames

In [1]:
import pandas as pd

# Creating a sample DataFrame

In [2]:
people = {
    "first" : ["Abhishek", "Virat", "Manit"],
    "last" : ["Dhawan", "Kohli", "Sharma"],
    "email" : ["abhidhawan09@gmail.com", "virat.kohli@gmail.com", "manitsharma1990@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

# Adding a new Column

In [4]:
# 1st way
# df["full_name"] = df["first"] + " " + df["last"]
# 2nd way
df["full_name"] = df[["first", "last"]].apply(" ".join, axis=1)
print(df)

      first    last                      email        full_name
0  Abhishek  Dhawan     abhidhawan09@gmail.com  Abhishek Dhawan
1     Virat   Kohli      virat.kohli@gmail.com      Virat Kohli
2     Manit  Sharma  manitsharma1990@gmail.com     Manit Sharma

# Removing Columns

In [5]:
df.drop(columns=["first", "last"], inplace=True)

In [6]:
print(df)

                       email        full_name
0     abhidhawan09@gmail.com  Abhishek Dhawan
1      virat.kohli@gmail.com      Virat Kohli
2  manitsharma1990@gmail.com     Manit Sharma

In [7]:
# expand=True, sets the splited elements in each column
df["full_name"].str.split(" ", expand=True)

          0       1
0  Abhishek  Dhawan
1     Virat   Kohli
2     Manit  Sharma

In [8]:
df[["first", "last"]] = df["full_name"].str.split(" ", expand=True)

In [9]:
print(df)

                       email        full_name     first    last
0     abhidhawan09@gmail.com  Abhishek Dhawan  Abhishek  Dhawan
1      virat.kohli@gmail.com      Virat Kohli     Virat   Kohli
2  manitsharma1990@gmail.com     Manit Sharma     Manit  Sharma

# To add a single row, we assign the values to the df.loc[current_length]

In [ ]:
df.loc[3] = ["abhidhawan1100@gmail.com", "Abhishek Dhawan", "Abhishek", "Dhawan"]

In [10]:
print(df)

                       email        full_name     first    last
0     abhidhawan09@gmail.com  Abhishek Dhawan  Abhishek  Dhawan
1      virat.kohli@gmail.com      Virat Kohli     Virat   Kohli
2  manitsharma1990@gmail.com     Manit Sharma     Manit  Sharma

# Removing columns

In [11]:
df.drop(columns=["first", "last"], inplace=True)
print(df)

                       email        full_name
0     abhidhawan09@gmail.com  Abhishek Dhawan
1      virat.kohli@gmail.com      Virat Kohli
2  manitsharma1990@gmail.com     Manit Sharma

In [12]:
# expand=True, sets the splited elements in each column
df["full_name"].str.split(" ", expand=True)

          0       1
0  Abhishek  Dhawan
1     Virat   Kohli
2     Manit  Sharma

In [13]:
df.loc[len(df.index)] = {"last" : "Sharma", "first" : "Abhimanyu", "email" : "abhimanyusharma@email.com", "full_name" : "Abhimanyu Sharma"}

In [14]:
print(df)

                       email         full_name
0     abhidhawan09@gmail.com   Abhishek Dhawan
1      virat.kohli@gmail.com       Virat Kohli
2  manitsharma1990@gmail.com      Manit Sharma
3  abhimanyusharma@email.com  Abhimanyu Sharma

## To create a single row DataFrame i.e. either pass index in an iterable or to create a single row DataFrame.

In [15]:
x = pd.DataFrame({"first" : "Jatin"}, index=[0])
print(x)

   first
0  Jatin

In [16]:
y = pd.DataFrame({"first" : ["Karan"]})
print(y)

   first
0  Karan

In [17]:
df = pd.concat([df, x, y], ignore_index=True)
print(df)

                       email         full_name  first
0     abhidhawan09@gmail.com   Abhishek Dhawan    NaN
1      virat.kohli@gmail.com       Virat Kohli    NaN
2  manitsharma1990@gmail.com      Manit Sharma    NaN
3  abhimanyusharma@email.com  Abhimanyu Sharma    NaN
4                        NaN               NaN  Jatin
5                        NaN               NaN  Karan

# To Drop a row, we use .drop() and pass the specific index

In [18]:
df.drop(index=4, inplace=True)
print(df)

                       email         full_name  first
0     abhidhawan09@gmail.com   Abhishek Dhawan    NaN
1      virat.kohli@gmail.com       Virat Kohli    NaN
2  manitsharma1990@gmail.com      Manit Sharma    NaN
3  abhimanyusharma@email.com  Abhimanyu Sharma    NaN
5                        NaN               NaN  Karan

In [19]:
filt = df["first"]=="Jatin"
df.drop(index=df[filt].index)

                       email         full_name  first
0     abhidhawan09@gmail.com   Abhishek Dhawan    NaN
1      virat.kohli@gmail.com       Virat Kohli    NaN
2  manitsharma1990@gmail.com      Manit Sharma    NaN
3  abhimanyusharma@email.com  Abhimanyu Sharma    NaN
5                        NaN               NaN  Karan