# DataFrame(iloc and loc Methods)

In [3]:
import pandas as pd

### Creating a dataframe

In [1]:
people = {
    "first" : ["Abhishek", "Virat", "Manit"],
    "last" : ["Dhawan", "Kohli", "Sharma"],
    "email" : ["abhidhawan09@gmail.com", "virat.kohli@gmail.com", "manitsharma1990@gmail.com"]
}

--Creating a DataFrame named people where storing the names(first as well as last) and e-mail of different people.

In [4]:
df = pd.DataFrame(people)
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [5]:
# Accessing the values(rows) of a single column
# It returns a series
print(df["email"])

0       abhidhawan09@gmail.com
1        virat.kohli@gmail.com
2    manitsharma1990@gmail.com
Name: email, dtype: object

In [6]:
# Series is a 1-dimensional array
# or Series is the rows of a single column
print(type(df["email"]))

<class 'pandas.core.series.Series'>

In [8]:
print(df.email)    # same as print(df["email"])

0       abhidhawan09@gmail.com
1        virat.kohli@gmail.com
2    manitsharma1990@gmail.com
Name: email, dtype: object

In [15]:
# Accessing multiple columns of a dataframe
# This is not a Series, as it have multiple columns, so it is a dataframe, extracted from main dataframe.
print(df[["last", "email"]])

      last                      email
0    Singh  ParampreetSingh@gmail.com
1  Schafer     CoreySchafer@gmail.com
2   Luthra      AnantLuthra@gmail.com

In [9]:
# Returns all the column names
print(df.columns) #columns attribute gives the names of all the columns in a DataFrame.

Index(['first', 'last', 'email'], dtype='object')

### Accessing data using `iloc`
- It returns the data based on indexed location (iloc)
- Slicing includes both start and stop
- While accessing rows, the indexes are column names
- While accessing columns, the default(provided) indexes are returned

In [10]:
# Here, indexes are column names
print(df.iloc[0])

first                  Abhishek
last                     Dhawan
email    abhidhawan09@gmail.com
Name: 0, dtype: object

In [16]:
# Getting multiple rows using iloc
print(df.iloc[[0,1,2]])

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [17]:
# Getting multiple rows of a specified column
print(df.iloc[[0, 2], 2])

0       abhidhawan09@gmail.com
2    manitsharma1990@gmail.com
Name: email, dtype: object

In [18]:
# Getting multiple rows of multiple columns
print(df.iloc[[0, 2], [0, 1]])

      first    last
0  Abhishek  Dhawan
2     Manit  Sharma

In [19]:
# Slicing same as numpy slicing
print(df.iloc[0:2:1])

      first    last                   email
0  Abhishek  Dhawan  abhidhawan09@gmail.com
1     Virat   Kohli   virat.kohli@gmail.com

### Accessing data using `loc`
- It returns the data based on the labels location (loc) or boolean array
- The integers are interpreted as a *label* of the index
- Slicing includes both start and stop

In [20]:
print(df)

      first    last                      email
0  Abhishek  Dhawan     abhidhawan09@gmail.com
1     Virat   Kohli      virat.kohli@gmail.com
2     Manit  Sharma  manitsharma1990@gmail.com

In [21]:
# Accessing first row of the dataframe
# NOTE: 0 is being treated as label, not as integer
print(df.loc[0])

first                  Abhishek
last                     Dhawan
email    abhidhawan09@gmail.com
Name: 0, dtype: object

In [22]:
# Accessing multiple rows of the dataframe
df.loc[[0, 1]]

      first    last                   email
0  Abhishek  Dhawan  abhidhawan09@gmail.com
1     Virat   Kohli   virat.kohli@gmail.com

In [25]:
# Accessing multiple rows of a specific column.
print(df.loc[[0, 2], "email"])

0       abhidhawan09@gmail.com
2    manitsharma1990@gmail.com
Name: email, dtype: object